# performance testing Files
*.png
*.jpg

# Built Files
build
bazel-*

# vscode shit
.pytest_cache

# generated data files
data/GD*

# helpers
HW_files
mock
*helper*
*aux*
tempCodeRunnerFile*

# text editors and IDEs
.vscode

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
